.DS_Store

# Textbooks
Textbooks/*

# Latex Files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.run.xml
*.synctex.gz
*.nav
*.snm
*.*-SAVE-ERROR
*.listing
*.vrb
*.xdv

Slides/03_Selection_on_Observables/extra_slides.tex
Slides/03_Selection_on_Observables/extra_slides.pdf

